<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<add name="CDBConnectionString" connectionString="Server=INVALIDSERVERNAME\SQLEXPRESS;Initial Catalog=TEST_DB;trustservercertificate=True;trusted_connection=true" />
	</connectionStrings>
</configuration>